<% entree.forEach(x=>{ %>
    <div class="menu-item">
        <img class="menu-item-image" src="/assets/entree/<%= x.nom %>" alt="" />
        <div class="item-body">
            <h3 class="menu-item-heading">
                <span class="menu-item-name"><%= x.nom %></span>
                <span class="menu-item-price"><%= x.prix %>$</span>
            </h3>
            <p class="menu-item-text"><%= x.description %></p>
            <form action="/menu/add_entree_to_cart" method="post">
                <input type="hidden" name="nom_produit" value="<%= x.nom %>">
                <select name='sauce' class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                    <option selected>Choisir une sauce gratuite</option>
                    <% sauce.forEach(y=>{ %>
                    <option  value="<%= y.nom %>"><%= y.nom %></option>
                     <% }) %>
                </select>
                <div class="d-flex flex-row justify-content-between">
                    <button type="submit" class="add">+</button>
                </div>
            </form>
            
        </div>
    </div>
    

<% }) %>