<form id="add_pizza_perso_form" action="/menu/add_pizza_perso">  
        <div class="pizza_ing"> 
                <h3>Sauces</h3> 
                <div class=" d-flex flex-wrap">
                    <% ingrediant.sauce.forEach(x=>{ %>
                        <input type="radio" id="choose_<%= x.nom %>" name="sauce" value="<%= x.nom %>" required ><label for="choose_<%= x.nom %>"><img src="assets/ingrediant/<%= x.nom %>" alt="<%= x.nom %> "><p><%= x.nom %></p></label>  
                    <% }) %>
                </div>
               
        </div>  
            
          
        <div class="pizza_ing">
                <h3>Viandes</h3> 
                <div class=" d-flex flex-wrap">
                    <% ingrediant.viande.forEach(x=>{ %> 
                        <input type="checkbox" id="choose_<%= x.nom %>"  name="viande" value="<%= x.nom %>" ><label for="choose_<%= x.nom %>"><img src="assets/ingrediant/<%= x.nom %>" alt="<%= x.nom %> "><p><%= x.nom %></p></label> 
                    <% }) %>
                </div>
                
        </div>  
            
          
        <div class="pizza_ing">  
                <h3>Fromages</h3>
                <div class=" d-flex flex-wrap">
                    <% ingrediant.fromage.forEach(x=>{ %> 
                        <input type="checkbox" id="choose_<%= x.nom %>"  name="fromage" value="<%= x.nom %>" ><label for="choose_<%= x.nom %>"><img src="assets/ingrediant/<%= x.nom %>" alt="<%= x.nom %> "><p><%= x.nom %></p></label> 
                    <% }) %>
                </div>
                
        </div>  
            
            
        <div class="pizza_ing">
                <h3>Legumes</h3> 
                <div class=" d-flex flex-wrap">
                    <% ingrediant.legume.forEach(x=>{ %>  
                        <input type="checkbox" id="choose_<%= x.nom %>" name="legume" value="<%= x.nom %>" ><label for="choose_<%= x.nom %>"><img src="assets/ingrediant/<%= x.nom %>" alt="<%= x.nom %> "><p><%= x.nom %></p></label>
                    <% }) %>
                </div>
                
        </div>  

    
        
    <select name='taille' class="custom-select mr-sm-2"  >
        <option selected value="S">Small</option>
        <option value="M">Meduim</option>
        <option value="L" >Large</option>
    </select>

    <div class="add_cont">
        <button class="add" type="submit">+</button>
        
    </div>
    
    
</form>  