<% pizza.forEach(x=>{ %>
    <div class="menu-item">
        <img src= "/assets/pizza/<%= x.nom %>.jpg"  alt="" class="menu-item-image">
        <div class="item-body">
            <h3 class="menu-item-heading">
                <span class="menu-item-name"><%= x.nom %></span>
                <span data="<%= x.prix %>" class="menu-item-price"><%= x.prix %>$</span>
            </h3>
            <p class="menu-item-text"><%= x.description %></p>
            
                <form id="form_id_<%= x.nom.replaceAll(' ','_') %>" class="add_pizza_form" action="/menu/add_pizza_to_cart" method="post">
                    <input type="hidden" name="nom_produit" value="<%= x.nom %>">
                    <select name='taille' class="custom-select mr-sm-2" >
                        <option selected value="S">Small</option>
                        <option value="M">Meduim</option>
                        <option value="L" >Large</option>
                    </select>
                    <div class="d-flex flex-column justify-content-between">
                        <button type="submit" class="add order-2">+</button>
                        <a class="personaliser order-1">personaliser</a>
                        
                    </div>
                    
                </form>
                
    
    
        </div>
    </div>
    <% }) %>
    