<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MENU</title>
    <script src="/jquery-3.6.0.js"></script>
    <script src="/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/bootstrap.min.css" />
    <link href="/styles/style.css" rel="stylesheet" />
  </head>
  <body>
    
    <div class="pos-f-t">
      <nav class="navbar navbar-light">
        <a
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarToggleExternalContent"
          aria-controls="navbarToggleExternalContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </a>
        <div>logo</div>
      </nav>
      <div class="collapse" id="navbarToggleExternalContent">
        <ul class="list-group nav-collapse-item">
          <li class="list-group-item list-group-item-action">
            Cras justo odio
          </li>
          <li class="list-group-item list-group-item-action">
            Dapibus ac facilisis in
          </li>
          <li class="list-group-item list-group-item-action">
            Morbi leo risus
          </li>
        </ul>
      </div>
    </div>


    <div class="sub-hero1">
      <div class="title ">
        <h1 >Feeling like eating Pizza</h1>
      </div>
    </div>

    <div class="sub-hero2">
      <img src="/assets/hero2.jpg" alt="hero" class="hero-img" />
    </div>

    <a id="cart">
        <img src="/assets/shopping-cart.png" alt="">
        CHECKOUT
      <p>0</p>
    </a>


    <div class="d-flex flex-column flex-sm-column justify-content-centre">
      <div id="menu"class="d-flex flex-row flex-sm-row flex-md-column justify-content-around">

        <ul class=" d-flex flex-column flex-sm-column flex-md-row nav nav-tabs nav-fill navMenu">
          <li id="entree-btn" class="nav-item active"><a  class="nav-link" >Entrées</a></li>
          <li id="pizza-btn" class="nav-item"> <a  class="nav-link">Pizza</a></li>
          <li id="boisson-btn" class="nav-item"> <a  class="nav-link">Boisson</a></li>
          <li id="pre-menu-btn" class="nav-item"> <a  class="nav-link">Menu preparé </a></li>
          <li id="perso-btn" class="nav-item"><a class="nav-link">Personalises</a></li>
        </ul>
  
        
          <div id="sub-menu" >
            <div id="entree" class="menu-sec  active-menu">
              <!-- generate with jquery or ejs -->
              <%- include('partials/entree',{entree:entree,sauce:sauce}); %>
              </div>
            <div id="pizza" class="menu-sec hidden" >
              <%- include('partials/pizza',{pizza:pizza}); %>
              
    
            </div>
            
            <div id="boisson" class="menu-sec hidden" >
              <%- include('partials/boisson',{boisson:boisson}); %>
    
            </div>
            
            <div id="pre-menu" class="menu-sec hidden" >
              <%- include('partials/pre_menu'); %>
    
            </div>
  
            <div id="perso" class="menu-sec hidden" >
              <%- include('partials/personaliser',{ingrediant:ingrediant}); %>
            </div>
          </div>
      </div>
    </div>

    <div class="cart-sec hidden">
      <form action="/menu/commander" id="cart-form" method="post">
           
       <!-- <button type="submit">commander</button>
        <a id="close-cart"><img src="/assets/icons8-close-64.png" alt=""></a>-->
      </form>
    </div>
  
    <script  type="text/javascript" src="/scripts/script.js"></script>
  </body>
</html>
